*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
body{
  background-color: rgb(255, 249, 242);
}

section,footer{
  padding: 54px 0;
}
h1{
  font-size: 50px;
}
p{
  color: purple;
}
.container{
  width: 100%;
  margin: 0 auto;
}

.btn{
  background-color: pink;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
}

.btn:hover{
  background-color: #D3606E;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 5px;
}

nav ul{
  display: flex;
  align-items: center;
}
nav ul a{
  color: black;
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
}
nav ul a:not(.btn)::after{
  content: "";
  background-color: pink;
  height: 3px;
  width: 0%;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
  
}
nav ul a:hover::after{
  width: 100%;
}

nav .menu-icon{
  cursor: pointer;
  font-size: 25px;
  color: #1C10A3;
  display: none;
}

nav .close-icon{
  display: none;
  font-size: 30px;
  color: white;
}
body{
  background-color: #f1f6fc31;

}
section,
footer {
  padding: 30px 0;
  width: 360px;
  height: 20px;
  padding: 2px 2px 2px 2px;
  border: 1px solid #797979;
  background-color: #d9d5ff;
  
}
h2{
  font-size: 50px;
}
h3{
  font-size: 15px;
  background-position: center;
}

p{
  color:#0000009c;

}
.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5%;
}
header{
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img{
  width: 360px;
  height: 251px;
  box-sizing: border-box;
}
button{
  width: 80px;
  height: 30px;
  padding: 2px 2px 2px 2px;
  border-radius: 14px;
  border: 2px solid #1c10a3;
  background-color: rgba(217, 213, 255, 0.56);
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #1c10a3;
  text-align: center;
  line-height: normal;
}

section {
  padding: 4rem 0;
  margin-top: 4rem !important;
}
.main{
  display: flex;
  justify-self: space-between;
  gap: 2rem;
}
.post-container {
  max-width: 550px;
  width: 100;
}
.post-box {
  width: 100;
  background: var(--white);
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  margin-bottom: 2rem;
}
.post-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}
.post-profile {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}
.post-profile img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}