<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        </style>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0.1">
        <!--LINK CSS-->
        <link rel="stylesheet" href="css/cursos.css">
        <!--LINK-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
        <title>Woman in work</title>
    </head>
    <body>

      <!--INICIO MENU-->
        <header>
            <section class="container">
                <nav>
                    <a href="index">
                        <img src="/imagem/logo2.png" width="158px" height="60px">
                    </a>
                    <ul class="ul">
                        <a href="index">Home</a>
                        <a href="sobrenos">Sobre nós</a>
                        <a href="cursos">Cursos</a>
                        <a href="#">Contato</a>
                        <section class="post-profile">
                         
                           
                        <section class="close-icon" onclick="closeMenu()">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </section>
                    </ul>
                    <section class="menu-icon" onclick="openMenu()">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </section>
                </nav>
            </section>
            <body>
              <section class="body-cadastro">
              </section>
              </body>
                <h2 class="h2-titulo">Explore ou publique cursos da sua preferência</h2>
              <!--FIM DO CABEÇALHO-->

              <!--INICIO AREA DE CURSOS-->
                <section class="container_cursos">
                    <!-- Card 1 -->
                    <section class="card card-1">
                      <!-- card-header -->
                      <section class="card-header">
                        <img src="/imagem/marketingdig.jpg" class="card-img" />
                      </section>
                      <!-- card-header -->
              
                      <!-- card-body -->
                      <section class="card-body">
                        <h2 class="card-titulo">Marketing</h2>
                        <p class="card-texto">
                          Este curso prepara você para criar planos estratégicos de marketing, identificar tendências e oportunidades de vendas[...]
                        </p>
                      </section>
                      <!-- card-body -->
              
                      <!-- card-footer -->
                      <section class="card-footer">
                        <a href="marketing-cursos">Saiba Mais</a>
                      </section>
                      <!-- card-footer -->
                    </section>
                    <!-- Card 1 -->
              
                    <!-- Card 2 -->
                    <section class="card card-2">
                      <!-- card-header -->
                      <section class="card-header">
                        <img src="/imagem/croche.jpeg" class="card-img" />
                      </section>
                      <!-- card-header -->
              
                      <!-- card-body -->
                      <section class="card-body">
                        <h2 class="card-titulo">Crochê</h2>
                        <p class="card-texto">
                          Este curso é um be-a-bá do crochê para quem ainda não sabe fazer nosso querido crochê ou para quem quer aprimorar as regras básicas do crochê[...]
                        </p>
                      </section>
                      <!-- card-body -->
              
                      <!-- card-footer -->
                      <section class="card-footer">
                        <a href="#">Saiba Mais</a>
                      </section>
                      <!-- card-footer -->
                    </section>
                    <!-- Card 2 -->
              
                    <!-- Card 3 -->
                    <section class="card card-3">
                      <!-- card-header -->
                      <section class="card-header">
                        <img src="/imagem/decoracao_bolo (1).jpg" class="card-img" />
                      </section>
                      <!-- card-header -->
              
                      <!-- card-body -->
                      <section class="card-body">
                        <h2 class="card-titulo">Bolos Decorados</h2>
                        <p class="card-texto">
                         Aprenda a fazer maravilhosos bolos decorados, utilizando as melhores práticas de preparo da massa, do recheio e da decoração, esse curso te ajudaria[..]
                        </p>
                      </section>
                      <!-- card-body -->
              
                      <!-- card-footer -->
                      <section class="card-footer">
                        <a href="#">Ver Mais</a>
                      </section>
                      <!-- card-footer -->
                    </section>
                    <!-- Card 3 -->
                    
                    <!-- Link Tutorial: https://youtu.be/UEm65E2_Y2Q -->
                  </section>
                  <section class="container_cursos">
                    <!-- Card 1 -->
                    <section class="card card-1">
                      <!-- card-header -->
                      <section class="card-header">
                        <img src="/imagem/groomer.jpg" class="card-img" />
                      </section>
                      <!-- card-header -->
              
                      <!-- card-body -->
                      <section class="card-body">
                        <h2 class="card-titulo">Groomer</h2>
                        <p class="card-texto">
                          Este curso faz você um profissional qualificado para prestar cuidados de higiene a estética de animais.
                        </p>
                      </section>
                      <!-- card-body -->
              
                      <!-- card-footer -->
                      <section class="card-footer">
                        <a href="#">Saiba Mais</a>
                      </section>
                      <!-- card-footer -->
                    </section>
                    <!-- Card 1 -->
              
                    <!-- Card 2 -->
                    <section class="card card-2">
                      <!-- card-header -->
                      <section class="card-header">
                        <img src="/imagem/nail.jpeg" class="card-img" />
                      </section>
                      <!-- card-header -->
              
                      <!-- card-body -->
                      <section class="card-body">
                        <h2 class="card-titulo">Nail Designer</h2>
                        <p class="card-texto">
                         Curso ideal para você que deseja se tornar uma profissional qualificada, aqui você irá aprender as técnicas básicas e avançadas de cuidados, esmaltação, decoração e design de unhas.
                        </p>
                      </section>
                      <!-- card-body -->
              
                      <!-- card-footer -->
                      <section class="card-footer">
                        <a href="#">Saiba Mais</a>
                      </section>
                      <!-- card-footer -->
                    </section>
                    <!-- Card 2 -->
              
                    <!-- Card 3 -->
                    <section class="card card-3">
                      <!-- card-header -->
                      <section class="card-header">
                        <img src="/imagem/info.jpg" class="card-img" />
                      </section>
                      <!-- card-header -->
              
                      <!-- card-body -->
                      <section class="card-body">
                        <h2 class="card-titulo">Técnico em Informática</h2>
                        <p class="card-texto">
                        O curso fundamental para você que quer aprender sobre sobre computação, é deseja se tornar um profissional prestigiado.
                        </p>
                      </section>
                      <!-- card-body -->
              
                      <!-- card-footer -->
                      <section class="card-footer">
                        <a href="#">Ver Mais</a>
                      </section>
                      <!-- card-footer -->
                    </section>
                    <!-- Card 3 -->
                    
                    <!-- Link Tutorial: https://youtu.be/UEm65E2_Y2Q -->
                  </section>
                  <section class="container_cursos">
                    <!-- Card 1 -->
                    <section class="card card-1">
                      <!-- card-header -->
                      <section class="card-header">
                        <img src="/imagem/sobrancelhas.jpeg" class="card-img" />
                      </section>
                      <!-- card-header -->
              
                      <!-- card-body -->
                      <section class="card-body">
                        <h2 class="card-titulo">Designer de Sobrancelhas</h2>
                        <p class="card-texto">
                          Neste curso você terá uma formação rápida e assertiva para aplicar corretamente as técnicas de design de sobrancelhas.
                        </p>
                      </section>
                      <!-- card-body -->
              
                      <!-- card-footer -->
                      <section class="card-footer">
                        <a href="#">Saiba Mais</a>
                      </section>
                      <!-- card-footer -->
                    </section>
                    <!-- Card 1 -->
              
                    <!-- Card 2 -->
                    <section class="card card-2">
                      <!-- card-header -->
                      <section class="card-header">
                        <img src="/imagem/ingles.jpg" class="card-img" />
                      </section>
                      <!-- card-header -->
              
                      <!-- card-body -->
                      <section class="card-body">
                        <h2 class="card-titulo"> Curso de Inglês</h2>
                        <p class="card-texto">
                          Do zero à fluência, aprenda inglês com facilidade e praticidade, com nossos métodos avaçados.
                        </p>
                      </section>
                      <!-- card-body -->
              
                      <!-- card-footer -->
                      <section class="card-footer">
                        <a href="#">Saiba Mais</a>
                      </section>
                      <!-- card-footer -->
                    </section>
                    <!-- Card 2 -->
              
                    <!-- Card 3 -->
                    <section class="card card-3">
                      <!-- card-header -->
                      <section class="card-header">
                        <img src="/imagem/maquiagem.jpeg" class="card-img" />
                      </section>
                      <!-- card-header -->
              
                      <!-- card-body -->
                      <section class="card-body">
                        <h2 class="card-titulo">Curso de Maquiagem</h2>
                        <p class="card-texto">
                          Você aprenderá como fazer maquiagens para qualquer ocasião, utilizando técnicas e produtos adequados.
                        </p>
                      </section>
                      <!-- card-body -->
              
                      <!-- card-footer -->
                      <section class="card-footer">
                        <a href="#">Ver Mais</a>
                      </section>
                      <!-- card-footer -->
                    </section>
                    <!-- Card 3 -->
                    
                    <!-- Link Tutorial: https://youtu.be/UEm65E2_Y2Q -->
                  </section>
                  <section class="Sobre">
                    <section class="sobre_container">
                        <section class="sobre_texto">
                            <h3>Não fique de fora!</h3>
                            <p>Venha abranger seu currículo conosco, temos inúmeras variedades de cursos para você escolher o que melhor vai suprir suas necessidades, com preços acessíveis para você.</p>
                            <p>Torne-se um profissional com maior qualificação no mercado de trabalho.</p>
                            
                        </section>
                            <section class="post-profile img">
                                <img src="/imagem/adm (1).jpg" alt="">
                            </section>
                            <section class="name-location">
                                <h3 class="post-name"> </h3>
                            </section>
                        </section>
                        </section>
                        <!--FIM DA AREA CURSOS-->

                  <!--INICIO FOOTER-->
                  <footer class="footer">
                    <section class="container">
                        <section class="links">
                            <a href="#"> <i class="fa fa-facebook"></i></a>
                            <a href="#"> <i class="fa fa-instagram"></i></a>
                            <a href="#"> <i class="fa fa-twitter"></i></a>
                            <a href="#"> <i class="fa fa-github"></i></a>
                        </section>
                        <p>WOMAN IN WORK</p>
                    </section>
                </footer>
                <!--FIM FOOTER-->

    </body>

    </html>
