<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0.1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
        <!--LINK CSS-->
        <link rel="stylesheet" href="/css/Gyu.css">
        <!--LINK-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Woman in work</title>
    </head>
    <body>
        <!--INICIO MENU DA PAGINA-->
        <header">
            <section class="container">
                <nav>
                    <a href="index.ejs">
                        <img src="/imagem/logo2.png" width="158px" height="60px">
                    </a>
                    <ul class="ul">
                        <a href="/index">Home</a>
                        <a href="/sobrenos">Sobre nós</a>
                        <a href="/cursos">Cursos</a>
                        <a href="#">Contato</a>
                        <a class="btn" href="ca_aut (1).ejs">Entrar</a>
                        <section class="close-icon" onclick="closeMenu()">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </section>
                    </ul>
                    <section class="menu-icon" onclick="openMenu()">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </section>
                </nav>
            </section>
            <!--INICIO DA PAGINA SOBRE NOS-->
            <section class="Sobre">
              <section class="sobre_container">
                  <section class="sobre_texto">
                      <h3>Sobre nós</h3>
                      <p>Devido ao machismo implantado em nossa sociedade a mais de décadas, a mulher ainda é vista como um “sexo frágil”, e lutam todos os dias por seus direitos, dentre eles está a igualdade no salário e valorização do seu trabalho.  

                        Nosso projeto tem como principal objetivo ajudar as mulheres no ramo empreendedor, fazendo com elas possam abranger seus conhecimentos e também para uma maior evolução na área desejada, de forma que essas possam ajudar outras mulheres com seu trabalho.  </p>
                      <p> Temos o desejo de fazer com que o trabalho seja um lugar de felicidade, pertencimento e significado.
                        Ajudamos nossas clientes a se adaptar ao mercado de trabalho, potencializar seus talentos e a criar uma cultura que valorize o bem-estar, a diversidade e a inovação. 
                        Nós temos muito orgulho do nosso projeto, e o nosso maior propósito é contribuir para um mundo melhor e mais justo. Um site de mulheres para mulheres, onde você sempre poderá se sentir segura e acolhida, nós somos a Women in Work!</p>
                     
                  </section>
                  <!--IMAGEM PRINCIPAL-->
                  <section class="sobre_img">
                      <img src="/imagem/sobre.jpg" alt="">
                  </section>
                  </section>
          </section>
          <!--INICIO FOOTER-->
          <footer class="footer">
            <section class="container">
                <section class="links">
                    <a href="#"> <i class="fa fa-facebook"></i></a>
                    <a href="#"> <i class="fa fa-instagram"></i></a>
                    <a href="#"> <i class="fa fa-twitter"></i></a>
                    <a href="#"> <i class="fa fa-github"></i></a>
                </section>
                <p>WOMAN IN WORK</p>
            </section>
        </footer>
        <!--FIM DO FOOTER-->
